.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav"
    "Focus-on-Business"
    "Content1"
    "Content1"
    "Content2"
    "Content2"
    "content3"
    "content3"
    "footer";
}

.nav {
  grid-area: nav;
  text-decoration: none;
  display: inline flex;
  width: 100%;
  padding-left:60px;
}

.Focus-on-Business {
  grid-area: Focus-on-Business;
  margin: 150px;
  margin-left: 150px;
  font-size: 200%;
  line-height: 1em;
}

.Content2 {
  grid-area: Content2;
}

.Content1 {
  grid-area: Content1;
}

.explore {
  grid-area: explore;
}

.payments {
  grid-area: payments;
}

.footer {
  grid-area: footer;
}

.content3 {
  grid-area: content3;
}


#forms {
  grid-area: nav;
  display: inline;
  margin-left: 10px;
}

.img1 {
  float: left;
  display: inline-flex;
  padding: 20px;
}

.links {
  grid-area: nav;
  
  display: flex;
  padding-top: 30px;
  justify-content: space-evenly;
}

.home{
  margin-left: 100px;
  color: black;
}
.features{
  margin-left: 100px;
  color: black;
}

.pricing{
  margin-left: 100px;
  color: black;
}

.how-it-works{
  margin-left: 100px;
  color: black;
}

.support{
  margin-left: 100px;
  color: black;
}

#header {
  grid-area: Focus-on-Business;
  display: inline-flex;
  float: right;
  margin-top: -400px;

}

.small{
  font-size: 20px;
  color: grey;
}

.mid{
  font-size: 35px;
}

.subpar{
  color:grey;
  font-size: 20px;
  width: 45%;
}

.trial{
  font-size: medium;
}

#newptag{
  border-bottom: 1px solid rgb(169, 169, 169);
  height: 300px;
  max-width: 50%;
  margin-left: 500px;
}