*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* blue #0850F8 */

body {
  font-family:Arial, Helvetica, sans-serif;
}

.container {  display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav"
      "Focus-on-Business"
      "Content1"
      "Content1"
      "Content2"
      "Content2"
      "content3"
      "content3"
      "footer";
  }
  
  .nav { grid-area: nav; }
  
  .Focus-on-Business { grid-area: Focus-on-Business; }
  
  .Content2 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
    grid-area: Content2;

    margin: auto;
    width: 45%;
    height: 500px;
  }
  
  .Content1 { 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "explore explore explore"
      "payments payments payments";
    grid-area: Content1;
    align-items: center;
    justify-content: space-between;

  }
  
  .explore { 
    grid-area: explore;
    text-align: center;
    border-top: 1px solid grey;
   }
  
  .payments { grid-area: payments; }
  
  .footer { 
    grid-area: footer;
    background-color: #0850F8;
    text-align: center;
    color:white;
    height: 225px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

  }

  .container-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
     
  }

  .container-footer-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
   
  }

  .container-footer-menu-item{
    padding-right:10px;
    padding-left: 10px;
    font-size: 11px;
    font-weight: 10;
    padding-top:15px
  
  }
  
  .content3 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Solutions Solutions"
      "Email Task"
      "Analitics Calendar";
    grid-area: content3;
    margin: auto;
    justify-content: center;
   
  }
  
  .Solutions { 
    grid-area: Solutions;
    margin:auto;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px }
  
  .Email { grid-area: Email; }
  
  .Task { grid-area: Task; }
  
  .Analitics { grid-area: Analitics; }
  
  .Calendar { grid-area: Calendar; }

  .payment_cards{
    display:grid;
    grid-auto-flow: column;
    gap:20px;
    font-family: sans-serif;
    box-sizing: inherit;
    margin-bottom:80px;
    align-content: stretch ;
    margin-left: 30%;
    width: 50%;
    margin-top: 5%;
  }


  .pay_card_content{
    border-style: solid;
    border-color: grey;
    border-width: thin;
    /* background-color: #0850F8; */
    background: white;
    border-radius: 10px;
    color:black;
    height: 130px;
    width: 110px;
    text-align: center;
    margin-left: 45px;
  }

  #first-icon{
    background-color: #0850F8;
    color: white;
    text-align: center;
  }

.benefits-list{
  list-style-type:none;
  margin-left: 0px;
  padding-left: 0px;
  }

  .learn_button{
    border-style: solid;
    color:white;
    margin-left: 40px;
    height:40px;
    width:216px;
    background-color: #0850F8;
    border-radius: 10px;
    border-width: medium;
    border-color: white;
    font-size: 15px;

  }

  .right-card{
    background-color: #0850F8;
    color:white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top:60px;
    padding-right:60px;
    padding-bottom:55px;
    padding-left:30px;
  }
  
  .left-card{
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    padding-bottom: 135px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px !important;
  }

  .card_img{
    padding-top: 30px;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .small-explore{
    padding: 25px;
    max-height: 15px;
    max-width: 500px;
  }
.money-symbol{
  color: black;
  
}
/* ======= */
  .Email, .Task, .Analitics, .Calendar{
    text-align: center;
    width: 450px;
    margin-bottom: 20px;
  }
  
  .p-content3-header{
    font-size: 20px;
    font-weight: bold;
  }
  
  .p-content3-fine-print{
    text-align: center;
    font-size: 10px;
   
  }
/* >>>>>>> upstream/master */
