/* blue #0850F8 */

body {
  font-family:Arial, Helvetica, sans-serif;
}

.container {  display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav"
      "Focus-on-Business"
      "Content1"
      "Content1"
      "Content2"
      "Content2"
      "content3"
      "content3"
      "footer";
  }
  
  .nav { grid-area: nav; }
  
  .Focus-on-Business { grid-area: Focus-on-Business; }
  
  .Content2 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
    grid-area: Content2;
  }
  
  .Content1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "explore explore explore"
      "payments payments payments";
    grid-area: Content1;
  }
  
  .explore { grid-area: explore; }
  
  .payments { grid-area: payments; }
  
  .footer { 
    grid-area: footer;
    background-color: #0850F8;
    text-align: center;
    color:white;
    height: 225px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

  }

  .container-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
     
  }

  .container-footer-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
   
  }

  .container-footer-menu-item{
    padding-right:10px;
    padding-left: 10px;
    font-size: 11px;
    font-weight: 10;
    padding-top:15px
  
  }
  
  .content3 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Solutions Solutions"
      "Email Task"
      "Analitics Calendar";
    grid-area: content3;
    margin: auto;
    justify-content: center;
   
  }
  
  .Solutions { 
    grid-area: Solutions;
    margin:auto;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px }
  
  .Email { grid-area: Email; }
  
  .Task { grid-area: Task; }
  
  .Analitics { grid-area: Analitics; }
  
  .Calendar { grid-area: Calendar; }

  .Email, .Task, .Analitics, .Calendar{
    text-align: center;
    width: 450px;
    margin-bottom: 20px;
  }
  
  .p-content3-header{
    font-size: 20px;
    font-weight: bold;
  }
  
  .p-content3-fine-print{
    text-align: center;
    font-size: 10px;
   
  }