.container1 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1px 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "Don\'t-have-an-Account-Yet\? Sign-In";
  }
  
  .Don\'t-have-an-Account-Yet\? {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "What-are-you-waiting-for\?-Let\'s-Fix-that-now\!"
      "Sign-Up-button";
    grid-area: Don\'t-have-an-Account-Yet\?;
  }
  
  .What-are-you-waiting-for\?-Let\'s-Fix-that-now\! { grid-area: What-are-you-waiting-for\?-Let\'s-Fix-that-now\!; }
  
  .Sign-Up-button { grid-area: Sign-Up-button; }
  
  .Sign-In {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "Username"
      "Email"
      "Password"
      "Sign-In-button"
      "or-sign-in-with"
      "Social-Platforms";
    grid-area: Sign-In;
  }
  
  .Username { grid-area: Username; }
  
  .Email { grid-area: Email; }
  
  .Password { grid-area: Password; }
  
  .Sign-In-button { grid-area: Sign-In-button; }
  
  .or-sign-in-with { grid-area: or-sign-in-with; }
  
  .Social-Platforms { grid-area: Social-Platforms; }
  