<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How It Works</title>
    <link rel="stylesheet" href="../css/how-it-works.css" />

  </head>
  <body>
    <div class="container">
      <div class="nav"><h1>nav</h1></div>
      <div class="Focus-on-Business"><h1>FoB</h1></div>
      <div class="Content2">
        <h2 class="how__header">How It Works</h2>
        <h4 class="how__desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a
        </h4>
        <div class="how__card">
          <div class="how__card-left">
            <img src="../images/how-it-works/Collect-info@2x.png" alt="" />
          </div>
          <div class="how__card-right">
            <div class="how__card-header">Collect Useful Info</div>
            <div class="how__card-text">
              Deliver the world of payment options and seamless checkout
              experiences, making it easy for your customer to pay you for your
              products and services.
            </div>
          </div>
        </div>
      </div>
      <div class="Content1"></div>
      <!-- Craig's Footer -->
      <div class="footer">
        <h1>Try Double Tap Today!</h1>
        <p style="font-weight:bold">Let's Get Started</p>

        <div class="container-footer">

          <div style="padding-right: 20px">
              <button class="btn" class="container-footer-buttons" style="width:140px;height: 36.5px;color:white;font-size: 15px;font-weight: bold;padding-bottom:6px;   background-color: rgba(127,209,38,255);border-radius: 7px;"></i> Get Started &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/white-double-arrow-use-this-one.png" style="height:9px;">
              </button>
          </div>
          
          <div style="padding-left:20px">
            <button class="btn" id="container-footer-buttons" style="width:140px;height:20.5px;color:#0850F8;font-size: 11px;font-weight: 900;padding-bottom:35px; padding-top: 0px; border-color:rgb(104, 102, 102)"></i> <img src="../images/landing/talk-bubble.png" style="height:18px; padding-top: 5px;" > Chat With Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
          </div>


        </div>
        
        <!-- <div class="container-footer">
          <input type="submit" value="Get Started" style="color:white;background-color:#7fd126;height:35px;width:170px;border-radius: 5px;margin-right:25px;font-size:15.5px">
          
          <input type="submit" value="Chat With Us" color="black" style="height:35px;width:150px;border-radius: 5px;font-weight:bold; color:#0850F8;background-color:white;margin-left:25px;font-size:12px">
        </div> -->

        <div class="container-footer-menu">
          <p class="container-footer-menu-item">Free 14 day trial</p>
          <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">
          <p class="container-footer-menu-item">Manage Customers in Minutes</p>
          <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">            <p class="container-footer-menu-item">Cancel at Anytime</p>


        </div>
        
      </div>
      
      <!-- End footer -->


      <div class="content3">
        <div class="Solutions">
          Solutions to fit your Business Needs
        </div>
        <div class="Email">
          <img src="../images/landing/email-circle.png" alt="Email-Computer-Icon" style="width:152px;height:131px">
          <p class="p-content3-header">Email Dashboards</p>
          <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>

          <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96)"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;">
          </button>

        </div>
        <div class="Task">
          <img src="../images/landing/task-check-circle.png" alt="Task-Check-Icon" style="width:152px;height:131px">
          <p class="p-content3-header">Task Management</p>
          <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>

          <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96);"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;" >
          </button>

           

        </div>
        <div class="Analitics">
          <img src="../images/landing/analytics-graph-circle.png" alt="Analytics_Icon" style="width:152px;height:131px">
          <p class="p-content3-header">Analytics</p>
          <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
           
          <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96)"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;" >
          </button>

        </div>
        <div class="Calendar">
          <img src="../images/landing/calendar-circle.png" alt="" style="width:152px;height:131px">
          <p class="p-content3-header">Project Calendars</p>
          <p class="p-content3-fine-print" style="padding-bottom:2px">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
        
          <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96)"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;" >
          </button>
        </div>
      </div>
        <h4 class="how__desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a
        </h4>
        <div class="how__card">
          <div class="how__card-left">
            <img src="../images/how-it-works/Take Payments@2x.png" alt="" />
          </div>
          <div class="how__card-right">
            <div class="how__card-header">Get Paid Sooner</div>
            <div class="how__card-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
