<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/how-it-works.css">
</head>

<body>
    <div class="container">
        <div class="nav"><img src="/images/how-it-works/Logo.png">
            <div>
                <ul>
                    <li class="links">
                        <a href="http://#">Home</a>
                        <a href="http://#">Features</a>
                        <a href="http://#">Pricing</a>
                        <a href="http://#">How it Works</a>
                        <a href="http://#">Support</a>
                    </li>
                </ul>
            </div>
            <div class="button">
                <button type="submit">Login</button>
            </div>

        </div>
        <div class="Focus-on-Business">
            <h1>FoB</h1>
        </div>
        <div class="Content2"></div>
        <div class="Content1">
        </div>
        <div class="footer">
            <h1>footer</h1>
        </div>
        <div class="content3">
        </div>
    </div>
</body>

</html>