<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
    <div class="main-container">
        <div class="sign-up">
            <h4>Don't have an account yet?</h4>
            <h4>What are you waiting for? Let's fix that now</h4>
            <button type="submit" class="btn-main">Sign Up</button>
        </div>
        <div class="sign-in">
            <h1>Sign In</h1>
            <form class="inline">
                <div class="input-icons">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text">
                    <i class="fa fa-envelope icon"></i>
                    <input class="input-field" type="text">
                    <i class="fa fa-lock icon"></i>
                    <input class="input-field" type="text">
                </div>
            </form>
            <button class="btn-main">Sign In</button>
            <p>Or Sign In with social platforms</p>
            <div class="input-icons">
                <i class="fa fa-brands fa-facebook-f"></i>
                <button id="btn-icons" class="btn-socials" type="submit"></button>
                <i class="fa fa-brands fa-twitter"></i>
                <button id="btn-icons" class="btn-socials" type="submit"></button>
                <i class="fa fa-brands fa-google"></i>
                <button id="btn-icons" class="btn-socials" type="submit"></button>
                <i class="fa fa-brands fa-linkedin"></i>
                <button id="btn-icons" class="btn-socials" type="submit"></button>
            </div>
        </div>
    </div>
</body>

</html>