<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/landing.css">
</head>
<body>
    <div class="container">
        <div class="nav"><h1>nav</h1></div>
        <div class="Focus-on-Business"><h1>FoB</h1></div>






        <div class="Content1">
          <div class="explore">
            <h2>Start to Explore Double Tap</h2>
            <small class="small-explore">A new and better way for small business to manage their customer base, payments and keep track of internal tasks.</small>
          </div>
          <div class="payment_cards">
            <div id="first-icon" class="pay_card_content">
              <img class="card_img" src="/images/landing/path-25.png" width="50" height="50">
              <p>Payments</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/page-1.png" width="50" height="50">
              <p>Retain</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/layer1.png" width="50" height="50">
              <p>Reporting</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/arrows.png" width="50" height="50">
              <p>Convert</p>
            </div>
          
          </div>
        </div>
          

      
        


        
        <div class="Content2">
          <div><img class="left-card" src="/images/landing/credit-card-picture.png" width="400" height="300"></div>
          <div class="right-card"><h3>Start accepting payments with Ease</h3>
          <p>Deliver the world of payment options and seamless checkout experiences,
            making it easy for your customers to pay you for your products and services.</p>
            <small>
              <ul class="benefits-list">
                <li>
                  -Accept credit & debit cards, Paypay, ACH, Apple pay and more with the flick of a switch
                </li>
                <li>
                  -Process transactions in up to 32 different currencies
                </li>
                <li>
                  -Integrate with popular payment gateways like Stripe, and Braintree
                </li>
                <li>
                  -Select from a variety of different checkout options and experiences
                </li>
              </ul></small>
            <button class="learn_button" type="button">Learn more
              <i class="arrow right"></i>
            </button>
          </div>
        </div>








        <div class="footer"><h1>footer</h1></div>
        <div class="content3">
          <div class="Solutions"></div>
          <div class="Email"></div>
          <div class="Task"></div>
          <div class="Analitics"></div>
          <div class="Calendar"></div>
        </div>
      </div>
</body>
</html>