<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="../css/landing.css">

    <!-- Craig's button code (start) -->
    <style>
      .btn {
        background-color: white;
        border: none;
        color: white;
        padding-top: 8px;
        padding-right: 5px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
      }
     </style>
     <!-- Craig's button code (stop) -->

</head>
<body>
    <div class="container">
        <div class="nav">
            <img class="img1" src="/images/how-it-works/Logo.png">
            <ul>
                <li class="links">
                    <a class="home" style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;" href="http://#">Home</a>
                    <a class="features" style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;" href="http://#">Features</a>
                    <a class="pricing" style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;" href="http://#">Pricing</a>
                    <a class="how-it-works" style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;" href="http://#">How it Works</a>
                    <a class="support" style="text-decoration: none; font-family: Arial, Helvetica, sans-serif;" href="http://#">Support</a>
                    <div id="forms">
                        <button class="form1"
                            style="background-color:rgb(255, 255, 255); color: rgb(29, 104, 255);border-color: rgb(29, 104, 255);border-radius: 10px; width: 100px; font-size: 15px; padding: 5px;"
                            type="submit"><b>Sign in</a></b></button>
                        <button class="form2"
                            style="background-color:rgb(29, 104, 255); color: rgb(255, 255, 255);border-color: rgb(29, 104, 255);border-radius: 10px; max-width: 100px; font-size: 15px; padding: 5px;"
                            type="submit"><b>Try it Free</b></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="Focus-on-Business">
      <h1 style="font-family:Arial, Helvetica, sans-serif;">Focus on</h1>
      <h1 style="font-family:Arial, Helvetica, sans-serif;">Your Business</h1>
      <h2 style="font-family:Arial, Helvetica, sans-serif;" class="mid">Let Us Handle Everything Else</h2>
      <p style="font-family:Arial, Helvetica, sans-serif;" class="subpar"><b>Subscription and Billing, powered with
              revenue retention tools and a seamless customer
              experience - without the technical hurdles.</b></p>
      <button
         id="sup" style="background-color:rgb(29, 104, 255);  color: rgb(255, 255, 255);border-color: rgb(29, 104, 255);border-radius: 10px; width: 200px; font-size: 20px; padding: 10px;"
          type="submit" ><b>Sign up free <span>&#187;</span></b></button>
      <button
          style="background-color:rgb(255, 255, 255); color: rgb(29, 104, 255);border-color: rgb(29, 104, 255);border-radius: 10px; width: 200px; font-size: 20px; padding: 10px;"
          type="submit"><b>Chat With Us</b></button>
      <img id="header" src="/images/how-it-works/Header-Side-1.png">
      <p style="font-family:Arial, Helvetica, sans-serif;" class="small">Already using <b>DoubleTap</b>? <b> SIgn in</b></p>
      <p style="font-family:Arial, Helvetica, sans-serif;" class="trial">Free 14 days trial <span
              style="color:rgb(29, 104, 255) ;">&#9679</span> Manage Customer
          in Minutes <span style="color:rgb(29, 104, 255) ;">&#9679</span> Cancel at Anytime</p>
  </div>
  <p id="newptag"></p>






        <div class="Content1">
          <div class="explore">
            <h2>Start to Explore Double Tap</h2>
            <small class="small-explore">A new and better way for small business to manage their customer base, payments and keep track of internal tasks.</small>
          </div>
          <div class="payment_cards">
            <div id="first-icon" class="pay_card_content">
              <h1 class="dollhairs"><strong>$</strong></h1>
              <br>
              <p class="pay-ment-s">Payments</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/page-1.png" width="50" height="50">
              <p>Retain</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/layer1.png" width="50" height="50">
              <p>Reporting</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/arrows.png" width="50" height="50">
              <p>Convert</p>
            </div>
          
          </div>
        </div>
          

      
        


        
        <div class="Content2">
          <div><img class="left-card" src="/images/landing/credit-card-picture.png" width="400" height="300"></div>
          <div class="right-card"><h3>Start accepting payments with Ease</h3>
          <p>Deliver the world of payment options and seamless checkout experiences,
            making it easy for your customers to pay you for your products and services.</p>
            <small>
              <ul class="benefits-list">
                <li>
                  -Accept credit & debit cards, Paypay, ACH, Apple pay and more with the flick of a switch
                </li>
                <li>
                  -Process transactions in up to 32 different currencies
                </li>
                <li>
                  -Integrate with popular payment gateways like Stripe, and Braintree
                </li>
                <li>
                  -Select from a variety of different checkout options and experiences
                </li>
              </ul></small>
            <button class="learn_button" type="button">Learn more
              <i class="arrow right"></i>
            </button>
          </div>
        </div>

       



        <div class="content3">
          <div class="Solutions">
            Solutions to fit your Business Needs
          </div>
          <div class="Email">
            <img src="../images/landing/email-circle.png" alt="Email-Computer-Icon" style="width:152px;height:131px">
            <p class="p-content3-header">Email Dashboards</p>
            <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>

            <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96)"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;">
            </button>

          </div>
          <div class="Task">
            <img src="../images/landing/task-check-circle.png" alt="Task-Check-Icon" style="width:152px;height:131px">
            <p class="p-content3-header">Task Management</p>
            <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>

            <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96);"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;" >
            </button>

             

          </div>
          <div class="Analitics">
            <img src="../images/landing/analytics-graph-circle.png" alt="Analytics_Icon" style="width:152px;height:131px">
            <p class="p-content3-header">Analytics</p>
            <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
             
            <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96)"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;" >
            </button>

          </div>
          <div class="Calendar">
            <img src="../images/landing/calendar-circle.png" alt="" style="width:152px;height:131px">
            <p class="p-content3-header">Project Calendars</p>
            <p class="p-content3-fine-print" style="padding-bottom:2px">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
          
            <button class="btn" style="width:140px;height:20.5px;color:black;font-size: 11px;font-weight: bold;padding-bottom:20px;text-align: right; border:2px solid rgb(97, 96, 96)"></i> Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/arrow-right-black.png" style="height:8px;" >
            </button>
          </div>
        </div>
      </div>
             <!-- Craig's Footer -->
             <div class="footer">
              <h1>Try Double Tap Today!</h1>
              <p style="font-weight:bold">Let's Get Started</p>
    
              <div class="container-footer">
    
                <div style="padding-right: 20px">
                    <button class="btn" class="container-footer-buttons" style="width:140px;height: 36.5px;color:white;font-size: 15px;font-weight: bold;padding-bottom:6px;   background-color: rgba(127,209,38,255);border-radius: 7px;"></i> Get Started &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/white-double-arrow-use-this-one.png" style="height:9px;">
                    </button>
                </div>
                
                <div style="padding-left:20px">
                  <button class="btn" id="container-footer-buttons" style="width:140px;height:20.5px;color:#0850F8;font-size: 11px;font-weight: 900;padding-bottom:35px; padding-top: 0px; border-color:rgb(104, 102, 102)"></i> <img src="../images/landing/talk-bubble.png" style="height:18px; padding-top: 5px;" > Chat With Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
    
    
              </div>
              
              <!-- <div class="container-footer">
                <input type="submit" value="Get Started" style="color:white;background-color:#7fd126;height:35px;width:170px;border-radius: 5px;margin-right:25px;font-size:15.5px">
                
                <input type="submit" value="Chat With Us" color="black" style="height:35px;width:150px;border-radius: 5px;font-weight:bold; color:#0850F8;background-color:white;margin-left:25px;font-size:12px">
              </div> -->
    
              <div class="container-footer-menu">
                <p class="container-footer-menu-item">Free 14 day trial</p>
                <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">
                <p class="container-footer-menu-item">Manage Customers in Minutes</p>
                <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">            <p class="container-footer-menu-item">Cancel at Anytime</p>
    
    
              </div>
              
            </div>
            
            <!-- End footer -->
</body>
</html>