<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="../css/landing.css">
</head>
<body>
    <div class="container">
        <div class="nav"><h1>nav</h1></div>
        <div class="Focus-on-Business"><h1>FoB</h1></div>






        <div class="Content1">
          <div class="explore">
            <h2>Start to Explore Double Tap</h2>
            <small class="small-explore">A new and better way for small business to manage their customer base, payments and keep track of internal tasks.</small>
          </div>
          <div class="payment_cards">
            <div id="first-icon" class="pay_card_content">
              <h1 class="dollhairs"><strong>$</strong></h1>
              <br>
              <p class="pay-ment-s">Payments</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/page-1.png" width="50" height="50">
              <p>Retain</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/layer1.png" width="50" height="50">
              <p>Reporting</p>
            </div>
            <div class="pay_card_content">
              <img class="card_img" src="/images/landing/arrows.png" width="50" height="50">
              <p>Convert</p>
            </div>
          
          </div>
        </div>
          

      
        


        
        <div class="Content2">
          <div><img class="left-card" src="/images/landing/credit-card-picture.png" width="400" height="300"></div>
          <div class="right-card"><h3>Start accepting payments with Ease</h3>
          <p>Deliver the world of payment options and seamless checkout experiences,
            making it easy for your customers to pay you for your products and services.</p>
            <small>
              <ul class="benefits-list">
                <li>
                  -Accept credit & debit cards, Paypay, ACH, Apple pay and more with the flick of a switch
                </li>
                <li>
                  -Process transactions in up to 32 different currencies
                </li>
                <li>
                  -Integrate with popular payment gateways like Stripe, and Braintree
                </li>
                <li>
                  -Select from a variety of different checkout options and experiences
                </li>
              </ul></small>
            <button class="learn_button" type="button">Learn more
              <i class="arrow right"></i>
            </button>
          </div>
        </div>

        <div class="footer"><h1>footer</h1></div>

        <!-- Craig's Footer -->
        <div class="footer">
          <h1>Try Double Tap Today!</h1>
          <p style="font-weight:bold">Let's Get Started</p>

          <div class="container-footer">
            <img src="../images/landing/get-started-button.png" alt="Get Started Button" style="margin-right:40px;font-size:15.5px">
            
            <img src="../images/landing/chat-button.png" alt="Chat with Us" style="margin-right:30px;">


          </div>
          
          <!-- <div class="container-footer">
            <input type="submit" value="Get Started" style="color:white;background-color:#7fd126;height:35px;width:170px;border-radius: 5px;margin-right:25px;font-size:15.5px">
            
            <input type="submit" value="Chat With Us" color="black" style="height:35px;width:150px;border-radius: 5px;font-weight:bold; color:#0850F8;background-color:white;margin-left:25px;font-size:12px">
          </div> -->

          <div class="container-footer-menu">
            <p class="container-footer-menu-item">Free 14 day trial</p>
            <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">
            <p class="container-footer-menu-item">Manage Customers in Minutes</p>
            <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">            <p class="container-footer-menu-item">Cancel at Anytime</p>


          </div>
          
        </div>
        
        <!-- End footer -->


        <div class="content3">
          <div class="Solutions">
            Solutions to fit your Business Needs
          </div>
          <div class="Email">
            <img src="../images/landing/email-circle.png" alt="Email-Computer-Icon" style="width:152px;height:131px">
            <p class="p-content3-header">Email Dashboards</p>
            <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
            <img src="../images/landing/learn-more-button.png" alt="Learn-More-Button">
          </div>
          <div class="Task">
            <img src="../images/landing/task-check-circle.png" alt="Task-Check-Icon" style="width:152px;height:131px">
            <p class="p-content3-header">Task Management</p>
            <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
            <img src="../images/landing/learn-more-button.png" alt="Learn-More-Button">

          </div>
          <div class="Analitics">
            <img src="../images/landing/analytics-graph-circle.png" alt="Analytics_Icon" style="width:152px;height:131px">
            <p class="p-content3-header">Analytics</p>
            <p class="p-content3-fine-print">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
            <img src="../images/landing/learn-more-button.png" alt="Learn-More-Button">

          </div>
          <div class="Calendar">
            <img src="../images/landing/calendar-circle.png" alt="" style="width:152px;height:131px">
            <p class="p-content3-header">Project Calendars</p>
            <p class="p-content3-fine-print" style="padding-bottom:2px">Automate client responses, and keep track of <br> any communication your team has with a client.</p>
            <img src="../images/landing/learn-more-button.png" alt="Learn-More-Button">

          </div>
        </div>
      </div>
</body>
</html>