<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sign-in.css">
</head>
<body>
    <div class="container1">
        <div class="Don\'t-have-an-Account-Yet\?">
          <div class="What-are-you-waiting-for\?-Let\'s-Fix-that-now\!"></div>
          <div class="Sign-Up-button"></div>
        </div>
        <div class="Sign-In">
          <div class="Username"></div>
          <div class="Email"></div>
          <div class="Password"></div>
          <div class="Sign-In-button"></div>
          <div class="or-sign-in-with"></div>
          <div class="Social-Platforms"></div>
        </div>
      </div>
</body>
</html>