<!doctype html>
<html lang="en">

<head>
    <title>sign-up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/sign-up.css">
</head>

<body>
    <div class="container">
        <div class="row mt-0">
            <div class="col-4">
                <div id="sign-up" class="row justify-content-center">
                    <h1><strong>Sign Up</strong></h1>
                </div>
                <div class="row justify-content-center">
                    <form class="col-12 m-2">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder=" 🤠">
                        </div>
                    </form>
                    <form class="col-12 m-2">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder=" 📧">
                        </div>
                    </form>
                    <form class="col-12 m-2">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder=" 🔒">
                        </div>
                    </form>
                </div>
                <div class="row justify-content-center">
                    <button id="signupbtn" type="button" class="btn btn-primary">Sign Up</button>
                </div>
                <div class="row justify-content-center"><strong>Or Sign up with social platforms</strong></div>
                <div class="row">
                    <div class="col-3">
                        <a href="https://www.facebook.com" target="blank" id="socials" type="button"
                            class="fb btn btn-light btn-circle btn-xl"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.twitter.com" target="blank" id="socials" type="button"
                            class="twtr btn btn-light btn-circle btn-xl"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.google.com" target="blank" id="socials" type="button"
                            class="gogl btn btn-light btn-circle btn-xl"></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.linkedin.com" target="blank" id="socials" type="button"
                            class="lnkd btn btn-light btn-circle btn-xl"></a>
                    </div>
                </div>
            </div>
            <div id='bigimage' class="col-8">
                <img src="../images/sign-up/bigimage.png" style="width:650px;height:500px;">
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>